 .u-section-1 {
  background-image: url("images/RobloxScreenShot20230407_162639822.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 512px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 273px 88px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(#e9f2fa, #adcce9);
}

.u-section-2 .u-sheet-1 {
  min-height: 883px;
}

.u-section-2 .u-accordion-1 {
  margin-bottom: 0;
  margin-top: 60px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-weight: 800;
  padding: 25px 30px;
}

.u-section-2 .u-icon-1 {
  height: 17px;
  width: 17px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 69px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-weight: 800;
  padding: 25px 30px;
}

.u-section-2 .u-icon-2 {
  height: 17px;
  width: 17px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 69px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-weight: 800;
  padding: 25px 30px;
}

.u-section-2 .u-icon-3 {
  height: 17px;
  width: 17px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 69px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-item-4 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-4 {
  background-image: none;
  font-weight: 800;
  padding: 25px 30px;
}

.u-section-2 .u-icon-4 {
  height: 17px;
  width: 17px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 69px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-accordion-item-5 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-5 {
  background-image: none;
  font-weight: 800;
  padding: 25px 30px;
}

.u-section-2 .u-icon-5 {
  height: 17px;
  width: 17px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 69px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-accordion-item-6 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-6 {
  background-image: none;
  font-weight: 800;
  padding: 25px 30px;
}

.u-section-2 .u-icon-6 {
  height: 17px;
  width: 17px;
}

.u-section-2 .u-accordion-pane-6 {
  min-height: 69px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-accordion-item-7 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-link-7 {
  background-image: none;
  font-weight: 800;
  padding: 25px 30px;
}

.u-section-2 .u-icon-7 {
  height: 17px;
  width: 17px;
}

.u-section-2 .u-accordion-pane-7 {
  min-height: 69px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 20px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-accordion-link-8 {
  background-image: none;
  font-weight: 800;
  padding: 25px 30px;
}

.u-section-2 .u-icon-8 {
  height: 17px;
  width: 17px;
}

.u-section-2 .u-accordion-pane-8 {
  min-height: 69px;
  background-image: none;
  height: auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-text-9 {
  margin: 41px auto 49px;
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}