 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/unknown.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 880px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 332px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  transition-duration: 0.75s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  border-style: solid;
  letter-spacing: 0px;
  text-transform: uppercase;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  font-weight: 700;
  background-image: none;
  margin: 20px auto 60px;
  padding: 15px 37px 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 417px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 0px 0px 8px 0px rgba(0,255,115,1) !important;
  border-radius: 13px !important;
  transform: translateX(0px) translateY(0px) scale(1.12) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  font-weight: 800 !important;
  letter-spacing: 2px !important;
  font-size: 18px !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 0px 0px 8px 0px rgba(0,255,115,1) !important;
  border-radius: 13px !important;
  transform: translateX(0px) translateY(0px) scale(1.12) rotate(0deg) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  font-weight: 800 !important;
  letter-spacing: 2px !important;
  font-size: 18px !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: url("images/RobloxScreenShot20210825_224715811.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 711px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 521px;
  background-image: linear-gradient(white, #f9e79b);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 103px auto 60px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 91px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-family: Alata;
  font-size: 1.5rem;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 337px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: linear-gradient(black, #425465);
}

.u-section-3 .u-sheet-1 {
  min-height: 205px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 205px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 319px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
} .u-section-4 {
  background-image: url("images/RobloxScreenShot20230407_162639822.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 421px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  margin: 23px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 200px;
  width: 100%;
  margin: 30px auto 60px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 18px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-4 .u-over-slide-1 {
  transition-duration: 1s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 18px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-4 .u-over-slide-2 {
  transition-duration: 1s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 18px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-4 .u-over-slide-3 {
  transition-duration: 1s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 18px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-4 .u-over-slide-4 {
  transition-duration: 1s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 18px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  transition-duration: 1s;
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-right: 18px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-4 .u-over-slide-6 {
  transition-duration: 1s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15));
  padding: 20px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 80px;
  right: 17px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 368px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 294px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 233px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 126px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 165px;
  }
} .u-section-5 {
  background-image: linear-gradient(#478ac9, #adf6f2);
}

.u-section-5 .u-sheet-1 {
  min-height: 70px;
}

.u-section-5 .u-social-icons-1 {
  height: 50px;
  min-height: 16px;
  width: 120px;
  min-width: 52px;
  margin: 10px auto;
}

.u-section-5 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  height: 60px;
}

.u-section-5 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
  height: 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-social-icons-1 {
    width: 300px;
    min-width: 124px;
  }
}